---
---

body {
    background: none;
}

body.disable-scrolling {
    overflow: hidden;
}

main {
    padding: 5px;
}

.section {
    display: block;
    position: relative;
    margin-bottom: 50px;
}

.required {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

#back-to-top-button {
    border-radius: 25px;
    bottom: 20px;
    display: none;
    position: fixed;
    right: 20px;
}

.photo-about {
    border-radius: 10px;
    float: right;
    margin: 20px;
}

.testimonial {
    border: solid 1px lightgray;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;

    .citation {
        text-align: right;
    }
}

@media only screen and (min-width: 43.75rem) {
    .testimonial {
        box-shadow: 0 5px 8px grey;
        margin: 20px;
    }
}
