---
---

#banner {
    .item {
        margin-left: 10px;
        width: 100%;
    }

    .picture {
        img {
            border-radius: 110px;
            display: block;
            height: 220px;
            margin-left: auto;
            margin-right: auto;
            width: 220px;
        }
    }
}

.small-links {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    top: calc(0.3 * 50vh + 10.0 * 1.125rem);
}

.small-banner-link {
    display: block;
    padding-left: 20px;
    padding-right: 20px;

    a {
        color: #000;
    }
}

@media only screen and (min-width: 43.75rem) {
    #banner {
        height: 50vh;
        position: relative;

        h1 {
            max-width: calc(70% - 65px);
            top: calc(0.3 * 50vh);
        }

        .item {
            left: 50px;
            max-width: calc(70% - 70px);
            position: absolute;
        }

        .subtitle {
            top: calc(0.3 * 50vh + 6.0 * 1.125rem);
        }

        .picture {
            left: 75%;
            position: absolute;
            top: calc(0.3 * 50vh - 2.5 * 1.125rem);

            img {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
