---
---

.navbar {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-width: 43.75rem) {
    .navbar > ul {
        display: flex;
    }
}

.dropdown-item {
    display: block;
}

.nav-item,.dropdown-item {
    padding: 20px;
    font-weight: bold;

    a {
        color: #777;
        cursor: pointer;
        position: relative;
        text-decoration: none;
    }
}

.nav-item.active,.dropdown-item.active {
    background-color: #ddd;
}

li.nav-item {
    list-style-type: none;

    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }

    a:hover::after,
    a:focus::after {
        transform: scale(1);
    }
}
