---
---

#banner {
    .item {
        width: 100%;
    }

    .picture {
        img {
            border-radius: 110px;
            display: block;
            height: 220px;
            margin: 20px auto 20px auto;
            width: 220px;
        }
    }
}

.small-links {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

@media only screen and (min-width: 800px) {
    #banner {
        .item {
            margin-left: 10px;
        }
    }

    .small-links {
        margin-top: 4.5rem;
    }
}

.small-banner-link {
    display: block;
    padding-left: 20px;
    padding-right: 20px;

    a {
        color: #000;
    }
}

@media only screen and (min-width: 800px) {
    #banner {
        height: calc(max(50vh, 550px));
        position: relative;

        .banner-items {
            left: 50px;
            max-width: calc(70% - 70px);
            position: absolute;
            top: calc(10vh);
        }

        .item {
            margin-top: 2.0rem;
            position: relative;
        }

        .subtitle {
            margin-top: 1.25rem;
        }

        .picture {
            left: 75%;
            position: absolute;
            top: calc(0.3 * 50vh - 2.5 * 1.125rem);

            img {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
