#banner .item {
    margin-left: 10px;
    width: 100%;
}

#banner .picture img {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 43.75rem) {
    #banner {
        height: 50vh;
        position: relative;
    }

    #banner h1 {
        left: 50px;
        max-width: calc(70% - 65px);
        position: absolute;
        top: calc(0.3 * 50vh);
    }

    #banner .subtitle {
        left: 50px;
        max-width: calc(70% - 70px);
        position: absolute;
        top: calc(0.3 * 50vh + 7.0 * 1.125rem);
    }

    #banner .picture {
        left: 75%;
        position: absolute;
        top: calc(0.3 * 50vh - 2.5 * 1.125rem);
    }

    #banner .picture img {
        margin-left: 0;
        margin-right: 0;
    }
}

#banner .picture img {
    border-radius: 110px;
    display: block;
    height: 220px;
    width: 220px;
}
