---
---

<!doctype html>
<html lang="de">
  {% include head.html current_page_title="Über mich -- " %}

  <body class="container">
    {% include navbar.de.html current_page="about" %}

    <main role="main" class="container">
      <h1>Über mich</h1>

      <section id="content" class="section">
        <img src="images/photo-about.jpg" alt="Foto von Bradford Hovinen" class="photo-about">

        <p>
          Ich bin ein leidenschaftlicher Softwareentwickler, seit ich als Kind das erste Mal BASIC
          auf einem IBM PC lernte. In mehr als 30 Jahren habe ich einen Wirbelwind von Trends und
          Technologien erlebt, von der agilen Revolution über "mobile first" bis hin zum neuesten
          Hype um KI und maschinelles Lernen. Einige Trends kommen und gehen, aber eine Kernweisheit
          hat nach wie vor Bestand.
        </p>
        <p>
          Ich bin fest davon überzeugt, dass der billigste Weg, Software nachhaltig zu entwickeln,
          darin besteht, sie gut zu entwickeln. Das bedeutet, mit einem tiefen Verständnis des
          Problembereichs und der Bedürfnisse des Kunden zu beginnen. Es bedeutet, strategisch zu
          denken und nicht nur taktisch zu reagieren, wenn Probleme auftreten. Und es bedeutet die
          konsequente Anwendung solider technischer Verfahren. Es ist ein furchtbarer Bärendienst,
          etwas zusammenzuschustern, es über den Zaun zu werfen und wegzulaufen.
        </p>
        <p>
          Bei der Softwareentwicklung geht es ebenso sehr um Menschen wie um Technik. Man muss
          ständig zuhören: dem Kunden, dem Produktmanager, dem UX-Forscher und -Designer, den
          Kollegen aus der Softwareentwicklung. Zu lernen, was es bedeutet, wirklich zuzuhören, war
          für mich eine immens lohnende Investition.
        </p>
        <p>
          In den letzten Jahren habe ich unter anderem folgende Erfolge erzielt:
        </p>
        <ul>
          <li>
            In den letzten sieben Jahren habe ich mehrere Teams von Grund auf neu aufgebaut, sowohl
            als technischer Leiter als auch als Manager. Ich habe die Teams beim Aufbau solider
            Entwicklungsprozesse angeleitet und ihnen geholfen, zusammenzuwachsen.
          </li>
          <li>
            Ich entwarf und leitete die Implementierung eines neuen Benutzerberechtigungssystems für
            eine mandantenfähige SaaS-Plattform, die Tausende von KMUs bedient. Dies war eine
            besondere Herausforderung aufgrund der starken Kopplung zwischen Benutzerberechtigungen
            und dem gesamten Datenmodell des Produkts. Dieses Projekt verbesserte sowohl die
            Latenzzeit fast aller Backend-Vorgänge als auch die Beseitigung eines der
            Haupthindernisse für die technische Gesamtstrategie des Unternehmens.
          </li>
          <li>
            Ich entwickelte eine technische Strategie auf hoher Ebene für die Migration der oben
            erwähnten SaaS-Plattform von einer monolithischen zu einer Microservice-Architektur.
          </li>
          <li>
            Ich habe einen verteilten Schutzmechanismus für mehrere Mandanten auf der oben genannten
            SaaS-Plattform entworfen und implementiert, um die versehentliche Offenlegung von Daten
            eines Mandanten gegenüber einem anderen Mandanten zu verhindern.
          </li>
          <li>
            Ich habe einen automatisierten und meinungsbildenden Code-Formatierer für die
            Programmiersprache Kotlin entwickelt. Er hält sich so eng wie möglich an die
            Kotlin-Codierungskonventionen.
          </li>
          <li>
            Ich habe eine neue Test-Assertion-Kiste in Rust entworfen und implementiert, die sich an
            der C++-Bibliothek GoogleTest orientiert. Es ist bei weitem die leistungsfähigste
            Test-Assertion-Lösung, die in Rust verfügbar ist. Diese Arbeit beseitigt eine große
            Hürde für C++-Entwickler, die GoogleTest verwenden, um Rust zu übernehmen.
          </li>
        </ul>
        <p>
          Nach mehreren Jahren als Softwareentwickler und später als technischer Leiter/Manager
          biete ich nun als Freiberufler Beratungs- und Softwareentwicklungsdienstleistungen an.
          Zögern Sie nicht, mich zu kontaktieren!
        </p>
      </section>
    </main>

    {% include footer.de.html %}

    {% include scroll-to-top.html %}
    {% include scripts.html %}
  </body>
</html>
