---
permalink: /blog/
---

<!doctype html>
<html lang="en">
  {% include head.html current_page_title="Blog -- " %}

  <body class="container">
    {% include navbar.html current_page="blog" %}

    <main role="main" class="container blog-container">
      <h1>Bradford Hovinen &ndash; Blog</h1>

      <section id="content" class="section">
        {% for post in site.posts %}
          <div class="blog-index-entry">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p><i>{{ post.date | date_to_long_string }}</i></p>
					  {{ post.excerpt }}

            <div class="post-categories">
              Category:&nbsp;
              {% for category in post.categories %}
              <a href="{{site.baseurl}}/blog/categories/#{{category|slugize}}">{{category|capitalize}}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
              &nbsp;|&nbsp;
              Tags:&nbsp;
              {% for tag in post.tags %}
              <a href="{{site.baseurl}}/blog/tags/#{{tag|slugize}}">{{tag}}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </section>
    </main>

    {% include footer.html %}

    {% include scroll-to-top.html %}
    {% include scripts.html %}
  </body>
</html>
