---
permalink: /blog/
---

<!doctype html>
<html lang="en">
  {% include head.html current_page_title="Blog -- " %}

  <body class="container">
    {% include navbar.html current_page="blog" %}

    <main role="main" class="container blog-container">
      <h1>Blog</h1>

      <section id="content" class="section">
        {% for post in site.posts %}
          <div class="blog-index-entry">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p><i>{{ post.date | date_to_string }}</i></p>
					  {{ post.excerpt }}
          </div>
        {% endfor %}
      </section>
    </main>

    {% include footer.html %}

    {% include scroll-to-top.html %}
    {% include scripts.html %}
  </body>
</html>
