---
---

<!doctype html>
<html lang="en">
  {% include head.html %}

  <body class="container">
    {% include navbar.html %}

    <main role="main" class="container">
      <h1>Message sent</h1>

      <section id="content" class="section">
        <h2>Thanks for reaching out!</h2>

        <p>
          Your message was sent successfully. I will get back to you as soon as possible.
        </p>

        <a class="btn btn-primary" href="index.html">Back to home page</a>
      </section>
    </main>

    {% include footer.html %}

    {% include scroll-to-top.html %}
    {% include scripts.html %}
  </body>
</html>
