---
---

<!doctype html>
<html lang="en">
  {% include head.html %}

  <body class="container">
    {% include navbar.de.html current_page="imprint" %}

    <main role="main" class="container">
      <h1>Impressum</h1>

      <section id="content" class="section">
        <h2>Angaben gemäß § 5 TMG</h2>

        <p>
          Bradford Hovinen<br>
          Maistraße 23<br>
          80337 München
        </p>

        <h2>Kontakt</h2>

        <p>
          Telefon: +49 173 8986212<br>
          E-Mail: hovinen@gmail.com
        </p>

        <h2>Angaben zur Berufs­haftpflicht­versicherung</h2>

        <p>
          <strong>Name und Sitz des Versicherers:</strong><br>
          Markel Insurance SE<br>
          Sophienstr. 26<br>
          80333 München
        </p>

        <p>
          <strong>Geltungsraum der Versicherung:</strong><br>
          Weltweit
        </p>

        <h2>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h2>

        <p>
          Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
          Verbraucherschlichtungsstelle teilzunehmen.
        </p>

        <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
      </section>
    </main>

    {% include footer.de.html current_page="imprint" %}

    {% include scripts.html %}
  </body>
</html>
