---
---

<!doctype html>
<html lang="en">
{% include head.html current_page_title="Imprint -- " %}

<body class="container">
  <main role="main" class="container">
    <h1>Imprint / Impressum</h1>

    <section id="content" class="section">
      <h2>Information according to § 5 TMG</h2>

      <p>
        Bradford Hovinen<br>
        Maistraße 23<br>
        80337 München
      </p>

      <h2>Contact</h2>

      <ul>
        <li>Email: <a href="mailto:info@hovinen.tech">info@hovinen.tech</a>.</li>
      </ul>
    </section>

    <section id="content" class="section">
      <h2>Angaben gemäß § 5 TMG</h2>

      <p>
        Bradford Hovinen<br>
        Maistraße 23<br>
        80337 München
      </p>

      <h2>Kontakt</h2>

      <ul>
        <li>E-Mail: <a href="mailto:info@hovinen.tech">info@hovinen.tech</a>.</li>
      </ul>
    </section>
  </main>

  {% include footer.html current_page="imprint" %}

  {% include scroll-to-top.html %}
  {% include scripts.html %}
</body>

</html>