---
---

<!doctype html>
<html lang="de">
{% include head.html %}

<body class="container">
  {% include navbar.html current_page="index" %}

  <main role="main" class="container">
    <section id="banner" class="section">
      <div class="picture d-lg-none">
        <img src="images/photo.jpg" alt="Photo of Bradford Hovinen">
      </div>
      <div class="banner-items">
        <h1 class="item">Bradford Hovinen</h1>
        <p class="subtitle item">
          <strong>Freelance IT consultant • Technical coach • Software engineer</strong><br>
          ex-Google • ex-Personio
        </p>
        <p class="item">
          <strong>You're a manager at a startup or scale-up.</strong> You've found your market,
          built a workable proof of concept. Now it comes time to <strong>professionalize your
            business</strong>, to turn that scrappy prototype into a real product, <strong>built to
            last.</strong>
        </p>
        {% include external-links.html %}
        <div class="small-links item">
          <a rel="nofollow" href="https://www.exali.de/siegel/Bradford-Hovinen" target="_blank"
            title="More Information about the IT liability insurance of Bradford Hovinen">
            <img style="border: 0; width: 65px; height: 65px;"
              src="https://www.exali.de/siegel/siegel_de-1_10d2a0af5bb1ecef5e988637aa16a8b6.png"
              alt="More Information about the IT liability insurance of Bradford Hovinen">
          </a>
        </div>
      </div>
      <div class="picture d-none d-lg-block">
        <img src="images/photo.jpg" alt="Photo of Bradford Hovinen">
      </div>
    </section>

    <section id="customer-story" class="section">
      <p>
        Building a professional engineering organization with a <strong>solid product
          portfolio</strong> requires a different mindset than experimenting and prototyping. The
        processes and techniques which served your team well in the past won't suffice any more.
        Not only do you need to rebuild your product on a <strong>solid technical
          foundation</strong>, but you need to bring about a cultural shift in your organization.
      </p>

      <p>
        <strong>This sounds like you? I can help. Reach out for a <a href="#contact">free
            30-minute initial consultation</a>.</strong>
      </p>
    </section>

    <section id="my-services" class="section">
      <h2>What I offer</h2>

      <ul>
        <li>
          <b>Strategic planning consultation</b><br>
          I work across functions to identify, prioritise, and plan needed investments.
        </li>
        <li>
          <b>Organisation structure consultation</b>
          I help you to identify the best team structure for your organisation, considering your
          product portfolio and your business goals.
        </li>
        <li>
          <b>Technical coaching</b><br>
          I sit down with your engineering teams and help them to level up their skills and
          productivity. I help them learn new techniques and refine their processes.
        </li>
        <li>
          <b>Software architecture planning</b><br>
          I advise your teams on the technical design of their systems, based on both immediate
          business needs and long-term goals.
        </li>
        <li>
          <b>Implementation support</b><br>
          I don't stop at the whiteboard. When desired, I work directly with your teams to
          implement the plans we develop.
        </li>
      </ul>
    </section>

    <section id="testimonials" class="section container">
      <h2>What past colleagues say</h2>

      <blockquote class="testimonial">
        Bradford is a very compentent developer with broad expertise, with whom I very much
        enjoyed working. He understands how to effectively implement business requirements in
        IT systems and in the process works extremely quickly and focused on the goal.
        <div class="citation">- Michael Wentzlaf, DHL Group</div>
      </blockquote>

      <blockquote class="testimonial">
        I had the opportunity to work closely with Bradford on a significant platform component
        at Personio. Bradford's technical acumen and leadership created clarity in a highly
        complex area and ensured we made the right decisions for the business and end-users.
        Without Bradford's partnership, we would not have seen the success we had.
        <div class="citation">- Conor Lynch, Personio</div>
      </blockquote>
    </section>

    <section id="technologies" class="section container">
      <h2>My top Technologies</h2>

      <div class="row">
        <div class="col-lg-4">
          <h3>Languages</h3>

          <ul>
            <li>Rust</li>
            <li>Kotlin</li>
            <li>Java</li>
            <li>Python</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h3>Development processes</h3>

          <ul>
            <li>TDD</li>
            <li>ATDD</li>
            <li>Scrum</li>
            <li>Kanban</li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h3>Platforms and frameworks</h3>

          <ul>
            <li>Amazon Web Services</li>
            <li>Google Cloud Platform</li>
            <li>Kubernetes</li>
            <li>Spring Boot</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h3>Developer workflow and tools</h3>

          <ul>
            <li>Gradle (including plugin development)</li>
            <li>Cargo</li>
            <li>GitHub Actions</li>
            <li>GitLab CI</li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h3>Storage systems</h3>

          <ul>
            <li>PostgreSQL</li>
            <li>MariaDB / MySQL</li>
            <li>MongoDB</li>
            <li>Google Cloud Datastore</li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h3>Architecture patterns</h3>

          <ul>
            <li>CQRS</li>
            <li>Event Sourcing</li>
            <li>Hexagonal architecture</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="contact" class="section">
      <div class="col-md-12">
        <h2>Book a meeting</h2>

        <p class="item">
          <strong>Please understand that I am not taking new clients at this time.</strong>
        </p>

        <iframe src="https://my.meetergo.com/bradford-hovinen/introduction" width="100%" height="540px"></iframe>

        <h2>Or just reach out</h2>

        <form class="contact-form" method="post" action="https://contact.hovinen.tech">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" name="name" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" name="email" class="form-control" required />
          </div>

          <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input id="subject" type="text" name="subject" class="form-control" required />
          </div>

          <div class="mb-3">
            <label for="body" class="form-label">Message</label>
            <textarea id="body" name="body" class="form-control" rows="5"></textarea>
          </div>

          {% include captcha.html lang="en" %}

          <div class="mb-3">
            <div class="form-text">
              See the <a href="privacy.html">privacy policy</a> for details on how the data you
              submit in this form are processed.
            </div>
          </div>

          <input type="hidden" name="language" value="en">
          <button type="submit" class="btn btn-primary">Send</button>
        </form>

        <h3>Other ways to reach out:</h3>

        <ul>
          <li>Email: <a href="mailto:info@hovinen.tech">info@hovinen.tech</a>.</li>
        </ul>
      </div>
    </section>
  </main>

  {% include footer.html %}

  {% include scroll-to-top.html %}
  {% include scripts.html %}
</body>

</html>