---
---

<!doctype html>
<html lang="en">
  {% include head.html %}

  <body class="container">
    {% include navbar.de.html current_page="index" %}

    <main role="main" class="container">
      <section id="banner" class="section">
        <div class="banner-items">
          <h1 class="item">Dr. Bradford Hovinen</h1>
          <p class="subtitle item">
            <strong>Freiberuflicher IT-Berater • Technischer Coach • Software-Ingenieur</strong><br>
            ex-Google • ex-Personio
          </p>
          <p class="item">
            <strong>Sie sind Manager in einem Start-up oder Scale-up.</strong> Sie haben Ihren Markt
            gefunden und ein praktikables Konzept entwickelt. Jetzt ist es an der Zeit, Ihr
            <strong>Geschäft zu professionalisieren</strong> und aus dem schäbigen Prototyp ein echtes
            Produkt zu machen, das <strong>für die Ewigkeit gebaut ist</strong>.
          </p>
          {% include external-links.html %}
          <div class="small-links item">
            <a rel="nofollow"
               href="https://www.exali.de/siegel/Bradford-Hovinen"
               target="_blank"
               title="Mehr Informationen zur IT-Haftpflicht von Bradford Hovinen">
               <img style="border: 0; width: 65px; height: 65px;"
                    src="https://www.exali.de/siegel/siegel_de-1_10d2a0af5bb1ecef5e988637aa16a8b6.png"
                    alt="Mehr Informationen zur IT-Haftpflicht von Bradford Hovinen">
            </a>
          </div>
        </div>
        <div class="picture">
          <img src="images/photo.jpg" alt="Foto von Bradford Hovinen">
        </div>
      </section>

      <section id="customer-story" class="section">
        <p>
          Der Aufbau einer professionellen technischen Organisation mit einem
          <strong>soliden Produktportfolio</strong> erfordert eine andere Denkweise als das
          Experimentieren und Prototyping. Die Prozesse und Techniken, die Ihrem Team in der
          Vergangenheit gute Dienste geleistet haben, reichen nicht mehr aus. Sie müssen nicht nur
          Ihr Produkt auf einer <strong>soliden technischen Grundlage</strong> neu aufbauen, sondern
          auch einen Kulturwandel in Ihrer Organisation herbeiführen.
        </p>

        <p>
          <strong>Klingt das nach Ihnen? Ich kann Ihnen helfen. Kontaktieren Sie mich für eine
          <a href="#contact">kostenlose 30-minütige Erstberatung</a>.</strong>
        </p>
      </section>

      <section id="my-services" class="section">
        <h2>Was ich biete</h2>

        <ul>
          <li>
            <b>Beratung zur strategischen Planung</b><br>
            Ich arbeite funktionsübergreifend, um notwendige Investitionen zu ermitteln, zu
            priorisieren und zu planen.
          </li>
          <li>
            <b>Beratung zur Organisationsstruktur</b>
            Ich helfe Ihnen, die beste Teamstruktur für Ihr Unternehmen zu finden, unter
            Berücksichtigung Ihres Produktportfolio und Ihre Geschäftsziele.
          </li>
          <li>
            <b>Technisches Coaching</b><br>
            Ich setze mich mit Ihren Ingenieurteams zusammen und helfe ihnen, ihre Fähigkeiten und
            Produktivität. Ich helfe ihnen, neue Techniken zu erlernen und ihre Prozesse zu
            verfeinern.
          </li>
          <li>
            <b>Planung der Software-Architektur</b><br>
            Ich berate Ihre Teams bei der technischen Gestaltung ihrer Systeme, wobei ich sowohl die
            unmittelbaren Geschäftsanforderungen und langfristigen Zielen.
          </li>
          <li>
            <b>Unterstützung bei der Umsetzung</b><br>
            Ich bleibe nicht beim Whiteboard stehen. Wenn gewünscht, arbeite ich direkt mit Ihren
            Teams zusammen, um um die von uns entwickelten Pläne umzusetzen.
          </li>
        </ul>
      </section>

      <section id="testimonials" class="section container">
        <h2>Zeugnisse vergangener Kollegen</h2>

        <blockquote class="testimonial">
          Bradford ist ein sehr kompetenter Entwickler mit breiter Expertise, mit dem ich sehr gerne
          zusammengearbeitet habe. Er versteht es, fachliche Anforderungen effektiv in IT-Systemen
          umzusetzen und arbeitet dabei extrem schnell und zielgerichtet.
          <div class="citation">Michael Wentzlaf, DHL Group</div>
        </blockquote>

        <blockquote class="testimonial">
          Ich hatte die Gelegenheit, eng mit Bradford an einer wichtigen Plattformkomponente bei
          Personio zu arbeiten. Bradfords technischer Scharfsinn und seine Führungsqualitäten
          schufen Klarheit in einem sehr komplexen Bereich und stellte sicher, dass wir die
          richtigen Entscheidungen für das Unternehmen und die Endbenutzer trafen. Ohne Bradfords
          Partnerschaft hätten wir nicht den Erfolg gehabt, den wir hatten.
          <div class="citation">Conor Lynch, Personio</div>
        </blockquote>
      </section>

      <section id="technologies" class="section container">
        <h2>Meine stärksten Technologien</h2>

        <div class="row">
          <div class="col-lg-4">
            <h3>Sprachen</h3>

            <ul>
              <li>Rust</li>
              <li>Kotlin</li>
              <li>Java</li>
              <li>Python</li>
              <li>TypeScript</li>
              <li>JavaScript</li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3>Entwicklungsprozesse</h3>

            <ul>
              <li>TDD</li>
              <li>ATDD</li>
              <li>Scrum</li>
              <li>Kanban</li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3>Plattformen und Frameworks</h3>

            <ul>
              <li>Amazon Web Services</li>
              <li>Google Cloud Platform</li>
              <li>Kubernetes</li>
              <li>Spring Boot</li>
              <li>Angular</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <h3>Entwicklerwerkzeuge</h3>

            <ul>
              <li>Gradle (inklusiv Pluginentwicklung)</li>
              <li>Cargo</li>
              <li>GitHub Actions</li>
              <li>GitLab CI</li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3>Speichersysteme</h3>

            <ul>
              <li>PostgreSQL</li>
              <li>MariaDB / MySQL</li>
              <li>MongoDB</li>
              <li>Google Cloud Datastore</li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3>Architekturmuster</h3>

            <ul>
              <li>CQRS</li>
              <li>Event Sourcing</li>
              <li>Hexagonal Architektur</li>
            </ul>
          </div>
        </div>
      </section>

      <section id="contact" class="section">
        <div class="col-md-12">
          <h2>Einen Termin buchen</h2>

          <iframe src="https://my.meetergo.com/bradford-hovinen/introduction" width="100%" height="540px"></iframe>

          <h2>Oder mich einfach kontaktieren</h2>

          <form class="contact-form" method="post" action="https://contact.hovinen.tech">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input id="name" type="text" name="name" class="form-control" />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">E-Mail</label>
              <input id="email" type="email" name="email" class="form-control" required />
            </div>

            <div class="mb-3">
              <label for="subject" class="form-label">Betreff</label>
              <input id="subject" type="text" name="subject" class="form-control" required />
            </div>

            <div class="mb-3">
              <label for="body" class="form-label">Nachricht</label>
              <textarea id="body" name="body" class="form-control" rows="5"></textarea>
            </div>

            {% include captcha.html lang="de" %}

            <div class="mb-3">
              <div class="form-text">
                Details über die Verbeitung der in diesem Formular angegebenen Daten finden Sie in
                der <a href="privacy.de.html">Datenschutzerklärung</a>.
              </div>
            </div>

            <input type="hidden" name="language" value="de">
            <button type="submit" class="btn btn-primary">Abschicken</button>
          </form>

          <h3>Weitere Kontaktmöglichkeiten:</h3>

          <ul>
            <li>E-Mail: <a href="mailto:info@hovinen.tech">info@hovinen.tech</a>.</li>
          </ul>
        </div>
      </section>
    </main>

    {% include footer.de.html %}

    {% include scroll-to-top.html %}
    {% include scripts.html %}
  </body>
</html>
