---
---

<!doctype html>
<html lang="de">
  {% include head.html current_page_title="Datenschutzerklärung -- " %}

  <body class="container">
    {% include navbar.de.html current_page="privacy" %}

    <main role="main" class="container">
      <h1>Datenschutz­erklärung</h1>

      <section id="content" class="section">
        <p>Im Folgenden möchten wir Sie aufklären, wie Ihre Daten von uns verarbeitet werden.</p>

        <p>Verantwortlich im Sinne der DSGVO ist:</p>

        <p>
          Bradford Hovinen<br>
          Maistraße 23<br>
          80337 München<br>
          Deutschland
        </p>

        <h2>Betroffenenrechte</h2>

        <p>
          Sie haben als betroffene Person, das Recht auf Auskunft, das Recht auf Berichtigung oder
          Löschung, das Recht auf Einschränkung der Verarbeitung und das Recht auf Widerspruch gegen
          die Verarbeitung Ihrer Daten. Sofern Sie uns eine Einwilligung erteilt haben, können Sie
          diese jederzeit mit Wirkung für die Zukunft widerrufen.
        </p>

        <p>
          Bitte richten Sie Ihren Widerspruch mit dem
          <a href="index.de.html#contact">Kontaktformular</a>.
        </p>

        <p>
          Darüber hinaus haben Sie das Recht auf Datenübertragbarkeit. Sie haben weiter das Recht,
          sich bei einer Aufsichtsbehörde über die Verarbeitung zu beschweren. Eine Liste der
          entsprechenden Behörden finden Sie
          <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">hier</a>.
        </p>

        <h2>Hosting</h2>

        <p>
          Unser Hoster erhebt in sog. Logfiles folgende Daten, die Ihr Browser übermittelt:
        </p>

        <ul>
          <li>IP-Adresse,</li>
          <li>die Adresse der vorher besuchten Website (Referer Anfrage-Header),</li>
          <li>Datum und Uhrzeit der Anfrage,</li>
          <li>Zeitzonendifferenz zur Greenwich Mean Time,</li>
          <li>Inhalt der Anforderung,</li>
          <li>HTTP-Statuscode,</li>
          <li>übertragene Datenmenge,</li>
          <li>Website, von der die Anforderung kommt und</li>
          <li>Informationen zu Browser und Betriebssystem.</li>
        </ul>

        <p>
          Das ist erforderlich, um unsere Website anzuzeigen und die Stabilität und Sicherheit zu
          gewährleisten. Dies entspricht unserem berechtigten Interesse im Sinne des Art. 6 Abs. 1
          S. 1 lit. f DSGVO.
        </p>

        <p>
          Es erfolgt kein Tracking und wir haben auf diese Daten keinen direkten Zugriff, sondern
          erhalten lediglich eine anonymisierte, statistische Zusammenfassung. Diese beinhaltet die
          Adresse der vorher besuchten Seite, die Häufigkeit der jeweils aufgerufenen Seiten und die
          Anzahl eindeutiger Besucher. Diese Daten führen wir nicht mit anderen Daten zusammen.
        </p>

        <p>
          Wir setzen für die Zurverfügungstellung unserer Website folgenden Hoster ein:
        </p>

        <p>
          GitHub Inc.<br>
          88 Colin P Kelly Jr St<br>
          San Francisco, CA 94107<br>
          United States
        </p>

        <p>
          Dieser ist Empfänger Ihrer personenbezogenen Daten. Dies entspricht unserem berechtigten
          Interesse im Sinne des Art. 6 Abs. 1 S. 1 lit. f DSGVO, selbst keinen Server in unseren
          Räumlichkeiten vorhalten zu müssen. Serverstandort ist USA.
        </p>

        <p>
          Weitere Informationen zu Widerspruchs- und Beseitigungsmöglichkeiten gegenüber GitHub
          finden Sie unter:
          <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages">GitHub privacy statement</a>
        </p>

        <p>
          Sie haben das Recht der Verarbeitung zu widersprechen. Ob der Widerspruch erfolgreich ist,
          ist im Rahmen einer Interessenabwägung zu ermitteln.
        </p>

        <p>
          Die Daten werden gelöscht, sobald der Zweck der Verarbeitung entfällt.
        </p>

        <p>
          Die Verarbeitung der unter diesem Abschnitt angegebenen Daten ist weder gesetzlich noch
          vertraglich vorgeschrieben. Die Funktionsfähigkeit der Website ist ohne die Verarbeitung
          nicht gewährleistet.
        </p>

        <p>
          GitHub hat Compliance-Maßnahmen für internationale Datenübermittlungen umgesetzt. Diese
          gelten für alle weltweiten Aktivitäten, bei denen GitHub personenbezogene Daten von
          natürlichen Personen in der EU verarbeitet. Diese Maßnahmen basieren auf den
          EU-Standardvertragsklauseln (SCCs). Weitere Informationen finden Sie unter:
          <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1-the-standard-contractual-clauses-processors">GitHub documentation</a>
        </p>

        <h2>Kontaktformular</h2>

        <p>
          Wir stellen Ihnen ein Kontaktformular zur Verfügung, mit dem wir folgende
          personenbezogene Daten erheben:
        </p>

        <ul>
          <li>Name (Optional)</li>
          <li>E-Mail-Adresse</li>
        </ul>

        <p>
          Die Daten werden ausschließlich zum Zweck der Übermittlung von Anfragen und deren
          Beantwortung gespeichert. Die Pflichtangaben dienen der Zuordnung und der Beantwortung
          Ihres Anliegen. Dies entspricht unserem berechtigten Interesse (Art. 6 Abs. 1 lit f
          DSGVO).
        </p>

        <p>
          Wir setzen für das Senden von Nachrichten über das Formular folgenden Drittanbieter ein.
        </p>

        <p>
          Amazon Web Services, Inc.<br>
          410 Terry Avenue South<br>
          Seattle, WA 98109<br>
          USA
        </p>

        <p>
          Wir setzen für das Speichern und Antworten auf Nachrichten folgenden Drittanbieter ein.
        </p>

        <p>
          Proton AG<br>
          Route de la Galaise 32<br>
          1228 Plan-les-Ouates<br>
          Switzerland
        </p>

        <p>
          Diese sind Empfänger Ihrer personenbezogenen Daten und als Auftragsverarbeiter für uns
          tätig.
        </p>

        <p>
          Sie haben das Recht der Verarbeitung zu widersprechen. Ob der Widerspruch erfolgreich ist,
          ist im Rahmen einer Interessenabwägung zu ermitteln. Weitere Informationen finden Sie
          unter dem Punkt „Betroffenenrechte“.
        </p>

        <p>
          Ihre Nachricht mit dazu gehörigen Daten werden 18 Monate lang aufbewahrt. Sie weden dann
          gelöscht, sofern bis dahin keine Geschäftsbeziehung zustande kommt. Wenn eine
          Geschäftsbeziehung zustande kommt, werden Ihre Daten gemäß deutschen rechtlichen
          Anforderungen aufbewahrt.
        </p>

        <h2>Terminbuchung</h2>

        <p>Wir haben meetergo in diese Webseite eingebunden. Der Anbieter ist:</p>

        <p>
          meetergo GmbH<br>
          Hansaring 61<br>
          50670 Köln<br>
          Deutschland
        </p>

        <p>
          (nachfolgend meetergo). meetergo bietet ein Online-Terminbuchungstool an. Wenn Sie online
          einen Termin mit uns vereinbaren, werden die von Ihnen zu diesem Zweck eingegebenen Daten
          auf den Servern von meetergo in Deutschland gespeichert. Darüber hinaus protokolliert
          meetergo kurzzeitig:
        </p>

        <ul>
          <li>Ihre IP-Adresse,
          <li>Ihre Referrer-URL und
          <li>den Zeitpunkt des Zugriffs
        </ul>

        <p>
          und kann feststellen, dass Sie eine Anfrage bei uns gestellt haben. Diese Daten werden
          ausschließlich zur technischen Bereitstellung des Dienstes verwendet und anschließend
          automatisch wieder gelöscht.
        </p>

        <p>
          Die Nutzung von meetergo erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der
          Webseitenbetreiber hat ein berechtigtes Interesse daran, die Buchung von Terminen so
          unkompliziert wie möglich zu gestalten. Sofern eine entsprechende Einwilligung eingeholt
          wurde, beruht die Verarbeitung ausschließlich auf Art. 6 Abs. 1 lit. a DSGVO bzw. Art.
          9 Abs. 1 lit. a; die Einwilligung kann jederzeit widerrufen werden.
        </p>

        <h2>Haftpflichtsiegel der Exali AG</h2>

        <h3>1. Beschreibung und Umfang der Datenverarbeitung</h3>

        <p>
          Diese Seite nutzt eine Einbindung des Haftpflichtsiegels der Exali AG. Das grafische
          Element des Siegels wird von den Servern der Exali AG nachgeladen. Hierzu wird auf Grund
          der technischen Gestaltung des Internets Ihre IP-Adresse verarbeitet, um die Grafik an
          Ihren Browser zu übertragen.
        </p>

        <p>
          Wenn Sie dieses Siegel anklicken, verlassen Sie unsere Seite und werden auf die Server der
          Exali AG weitergeleitet.
        </p>

        <p>
          Mehr Informationen finden Sie in der Datenschutzerklärung von Exali:
          https://www.exali.de/Ueber-exali/Rechtliches/Datenschutzerklaerung,100401.php#Verwendung/Einbindung%20des%20exali.de-Haftpflicht-Siegels
        </p>

        <h3>2. Rechtsgrundlage für die Datenverarbeitung</h3>

        <p>
          Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f) DS-GVO (berechtigtes
          Interesse).
        </p>

        <h3>3. Zweck der Datenverarbeitung</h3>

        <p>
          Die Datenverarbeitung dient dem Zweck den Nachweis der gesetzlich vorgegebenen
          Pflichtangaben zur Berufshaftpflicht nach § 2 Abs. 11 DL-InfoV) optisch ansprechend zu
          erbringen.
        </p>

        <h3>4. Berechtigtes Interesse</h3>

        <p>
          Unser berechtigtes Interesse für die Datenverarbeitung ergibt sich aus dem Zweck ein
          ansprechendes Onlineangebot zu bieten und unseren Informationspflichten in gestalterisch
          ansprechender Weise nachzukommen.
        </p>
      </section>
    </main>

    {% include footer.de.html current_page="privacy" %}

    {% include scroll-to-top.html %}
    {% include scripts.html %}
  </body>
</html>
