---
---

<!doctype html>
<html lang="en">
  {% include head.html current_page_title="Privacy policy -- " %}

  <body class="container">
    {% include navbar.html current_page="privacy" %}

    <main role="main" class="container">
      <h1>Privacy policy</h1>

      <section id="content" class="section">
        <p>In the following, we would like to explain to you how your data is processed by us.</p>

        <p>The following person is responsible for this site for the purpose of the GDPR:</p>

        <p>
          Bradford Hovinen<br>
          Maistraße 23<br>
          80337 München<br>
          Germany
        </p>

        <h2>Data subjects' rights</h2>

        <p>
          As a data subject, you have the right to information, the right to correction or
          deletion, the right to restriction of processing and the right to object to the processing
          of your data. If you have given us your consent, you can revoke this consent at any time
          with immdiate effect on further processing.
        </p>

        <p>
          Please send your objection using the <a href="index.html#contact">contact form</a>.
        </p>

        <p>
          Furthermore, you have the right to data portability. You also have the right to file a
          complaint with a supervisory authority about the processing. A list of the authorities can
          be found
          <a href="https://www.bfdi.bund.de/EN/Service/Anschriften/Laender/Laender-node.html">here</a>.
        </p>

        <h2>Hosting</h2>

        <p>
          Our hoster collects the following data transmitted to or from your browser in server log
          files:
        </p>

        <ul>
          <li>IP address,</li>
          <li>the address of the previously visited website (referer request header),</li>
          <li>date and time of the request,</li>
          <li>time zone difference to Greenwich Mean Time,</li>
          <li>content of the request,</li>
          <li>HTTP status code,</li>
          <li>amount of data transferred,</li>
          <li>website from which the request came, and</li>
          <li>information about the browser and operating system.</li>
        </ul>

        <p>
          This is necessary to display our website and to ensure stability and security. This
          corresponds to our legitimate interest in the sense of Art. 6 para. 1 p. 1 lit. f
          GDPR.
        </p>

        <p>
          There is no tracking and we do not have direct access to these data, but only receive an
          anonymised statistical summary. This includes the address of the previously visited page,
          the frequency of the pages called up in each case and the number of unique visitors. We do
          not combine these data with other data.
        </p>

        <p>
          We use the following hosting service for the provision of our website:
        </p>

        <p>
          GitHub Inc.<br>
          88 Colin P Kelly Jr St<br>
          San Francisco, CA 94107<br>
          United States
        </p>

        <p>
          This is the recipient of your personal data. This corresponds to our legitimate interest
          within the meaning of Art. 6 (1) sentence 1 lit. f GDPR in not having to maintain a
          server on our premises. The server is located in the USA.
        </p>

        <p>
          For more information on how to object and opt-out of GitHub, please visit:
          <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages">GitHub privacy statement</a>.
        </p>

        <p>
          You have the right to object to the processing. Whether the objection is successful is to
          be determined by balancing interests.
        </p>

        <p>
          The data will be deleted as soon as the purpose of the processing no longer applies.
        </p>

        <p>
          The processing of the data provided under this section is not required by law or by
          contract. The functionality of the website is not guaranteed without the processing.
        </p>

        <p>
          GitHub has implemented compliance measures for international data transfers. These apply
          to all global activities where GitHub processes personal data of individuals in the EU.
          These measures are based on the EU Standard Contractual Clauses (SCCs). For more
          information, please visit:
          <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1-the-standard-contractual-clauses-processors">GitHub documentation</a>
        </p>

        <h2>Contact form</h2>

        <p>
          We provide you with a contact form with which we collect the following personal data:
        </p>

        <ul>
          <li>Name (Optional),</li>
          <li>E-Mail address.</li>
        </ul>

        <p>In addition, we collect in our server logs:</p>

        <ul>
          <li>Time of transmission,</li>
          <li>IP address.</li>
        </ul>

        <p>
          The data are stored exclusively for the purpose of transmitting and answering enquiries.
          The mandatory data are used to assign and answer your request. This corresponds to our
          legitimate interest (Art. 6 para. 1 lit f GDPR).
        </p>

        <p>We use the following third-party provider for the provision of the form:</p>

        <p>
          rake.red<br>
          TBD
        </p>

        <p>
          This is a recipient of your personal data and acts as a processor for us.
        </p>

        <p>
          You have the right to object to the processing. Whether the objection is successful is to
          be determined by balacing interests. You can find further information under the point
          "Data subject rights".
        </p>

        <p>
          Your data will be deleted after one month.
        </p>
      </section>
    </main>

    {% include footer.html current_page="privacy" %}

    {% include scroll-to-top.html %}
    {% include scripts.html %}
  </body>
</html>
