<!doctype html>
<html lang="de">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fehler beim Senden der Nachricht -- Bradford Hovinen, IT-Freelancer</title>
  <link rel="stylesheet" href="{site_root}/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{site_root}/css/bootstrap/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{site_root}/css/bootstrap/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="{site_root}/css/bootstrap/bootstrap-utilities.min.css">
  <link rel="stylesheet" href="{site_root}/css/base.css">
  <link rel="stylesheet" href="{site_root}/css/main-banner.css">
  <link rel="stylesheet" href="{site_root}/css/main-navigation.css">
  <link rel="stylesheet" href="{site_root}/css/footer.css">
  <link rel="stylesheet" href="{site_root}/css/project-card.css">
  <link rel="stylesheet" href="{site_root}/css/fontawesome/fontawesome.min.css">
  <link rel="stylesheet" href="{site_root}/css/fontawesome/solid.min.css">
  <link rel="stylesheet" href="{site_root}/css/fontawesome/brands.min.css">
</head>


  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-default">
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavigation">
    <ul class="navbar-nav mr-auto d-md-flex">
      <li class="nav-item">
        
        <a href="{site_root}/index.de.html" class="nav-link">Startseite</a>
        
      </li>
      <li class="nav-item">
        
        <a href="{site_root}/about.de.html" class="nav-link">Über mich</a>
        
      </li>
      <li class="nav-item">
        
        <a href="{site_root}/case-studies.de.html" class="nav-link">Fallstudien</a>
        
      </li>
      <li class="nav-item"><a href="https://gruebelinchen.wordpress.com" class="nav-link">Blog <i class="fas fa-external-link"></i></a></li>
      <li class="nav-item"><a href="{site_root}/index.de.html#contact" class="nav-link">Kontakt</a></li>
    </ul>
  </div>
</nav>


    <main role="main" class="container">
      <h1>Leider ist etwas schiefgelaufen</h1>

      <section id="content" class="section">
        <p>Wegen einer technischen Störung konnte Ihre Nachricht leider nicht geliefert werden.</p>

        <p>Bitte Kontaktieren Sie mich per E-Mail oder Telefon:</p>

        <p>
          E-Mail: <a href="mailto:{email}">{email}</a>.
          Telefon: {phone}
        </p>

        <p>Sie haben folgende Nachricht geschrieben:</p>

        <p>
          Betreff: {subject}
        </p>

        {body | render_paragraphs}
      </section>
    </main>

    <footer class="section container">
  <div class="row">
    <div class="col-md-6">
      Copyright 2023 Bradford Hovinen
    </div>
    <nav class="col-md-6 menu">
      <ul>
        <li><a href="{site_root}/imprint.de.html">Impressum</a></li>
        <li><a href="{site_root}/privacy.de.html">Datenschutzerklärung</a></li>
      </ul>
    </nav>
  </div>
</footer>


    <button type="button" class="btn btn-primary btn-floating btn-lg" id="back-to-top-button">
  <i class="fas fa-arrow-up"></i>
</button>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="{site_root}/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="{site_root}/js/fontsawesome/fontawesome.min.js"></script>
<script src="{site_root}/js/fontsawesome/solid.min.js"></script>
<script src="{site_root}/js/fontsawesome/brands.min.js"></script>
<script type="module" src="{site_root}/js/friendlycaptcha/widget.module.min.js" async defer></script>
<script nomodule src="{site_root}/js/friendlycaptcha/widget.min.js" async defer></script>
<script src="{site_root}/js/scroll-to-top.js"></script>

  </body>
</html>
