<footer class="section container">
  <div class="row">
    <div class="col-md-6">
      Copyright 2024 Bradford Hovinen
    </div>
    <nav class="col-md-6 menu">
      <ul>
        <li>{% if include.current_page != "imprint" %}<a href="imprint.html">{% endif %}Imprint{% if include.current_page != "imprint" %}</a>{% endif %}</li>
        <li>{% if include.current_page != "privacy" %}<a href="privacy.html">{% endif %}Privacy policy{% if include.current_page != "privacy" %}</a>{% endif %}</li>
      </ul>
    </nav>
  </div>
</footer>
