<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.og_image %}
  <meta property="og:image" content="{{ page.og_image }}">{% endif %}
  <title>{{ include.current_page_title }}Bradford Hovinen</title>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-utilities.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/main-banner.css">
  <link rel="stylesheet" href="/css/main-navigation.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/project-card.css">
  <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css">
  <link rel="stylesheet" href="/css/fontawesome/solid.min.css">
  <link rel="stylesheet" href="/css/fontawesome/brands.min.css">
  {% include analytics.html %}
  <link rel="stylesheet" href="/css/katex/katex.min.css"
    integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww">
  <link rel="stylesheet" href="/css/tango.css">
</head>