<nav class="navbar navbar-expand-lg navbar-default">
  {% if include.current_page != "index" %}
  <span class="banner-name d-none d-lg-block">Bradford Hovinen</span>
  {% endif %}
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavigation">
    <ul class="navbar-nav mr-auto d-md-flex">
      <li class="nav-item{% if include.current_page == "index" %} active{% endif %}">
        {% if include.current_page == "index" %}
        <span class="nav-link">Home</span>
        {% else %}
        <a href="/index.html" class="nav-link">Home</a>
        {% endif %}
      </li>
      <li class="nav-item{% if include.current_page == "about" %} active{% endif %}">
        {% if include.current_page == "about" %}
        <span class="nav-link">About me</span>
        {% else %}
        <a href="/about.html" class="nav-link">About me</a>
        {% endif %}
      </li>
      <li class="nav-item{% if include.current_page == "case-studies" %} active{% endif %}">
        {% if include.current_page == "case-studies" %}
        <span class="nav-link">Case studies</span>
        {% else %}
        <a href="/case-studies.html" class="nav-link">Case studies</a>
        {% endif %}
      </li>
      <li class="nav-item{% if include.current_page == "blog" %} active{% endif %}">
        {% if include.current_page == "blog" %}
        <span class="nav-link">Blog</span>
        {% else %}
        <a href="/blog/" class="nav-link">Blog</a>
        {% endif %}
      </li>
      <li class="nav-item"><a href="{% if include.current_page != "index" %}/index.html{% endif %}#contact" class="nav-link">Contact</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle nav-link" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-language fa-xl"></i> <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu navbar-default" aria-labelledby="navbarDropdown">
          <span class="dropdown-item active">English</span>
          {% if include.english_only != true %}
          <a href="/{{ include.current_page }}.de.html" class="dropdown-item">Deutsch</a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>
