<nav class="navbar navbar-expand-lg navbar-default">
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavigation">
    <ul class="navbar-nav mr-auto d-md-flex">
      <li class="nav-item{% if include.current_page == "index" %} active{% endif %}">
        {% if include.current_page == "index" %}
        <span class="nav-link">Startseite</span>
        {% else %}
        <a href="index.de.html" class="nav-link">Startseite</a>
        {% endif %}
      </li>
      <li class="nav-item{% if include.current_page == "about" %} active{% endif %}">
        {% if include.current_page == "about" %}
        <span class="nav-link">Über mich</span>
        {% else %}
        <a href="about.de.html" class="nav-link">Über mich</a>
        {% endif %}
      </li>
      <li class="nav-item"><a href="https://gruebelinchen.wordpress.com" class="nav-link">Blog <i class="fas fa-external-link"></i></a></li>
      <li class="nav-item"><a href="{% if include.current_page != "index" %}index.de.html{% endif %}#contact" class="nav-link">Kontakt</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle nav-link" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-language fa-xl"></i> <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu navbar-default" aria-labelledby="navbarDropdown">
          <a href="{{ include.current_page }}.html" class="dropdown-item">English</a>
          <span class="dropdown-item active">Deutsch</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
