<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/fontsawesome/fontawesome.min.js"></script>
<script src="/js/fontsawesome/solid.min.js"></script>
<script src="/js/fontsawesome/brands.min.js"></script>
<script type="module" src="/js/friendlycaptcha/widget.module.min.js" async defer></script>
<script nomodule src="/js/friendlycaptcha/widget.min.js" async defer></script>
<script src="/js/scroll-to-top.js"></script>
{% if page.has_math %}
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{% endif %}
{% if page.has_mermaid %}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: true });
</script>
{% endif %}
<script type="">
  for (link of document.links) {
    if (link.hostname != window.location.hostname) {
      link.target = '_blank';
      link.className += ' external';
    }
  }
</script>
