<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="js/fontsawesome/fontawesome.min.js"></script>
<script src="js/fontsawesome/solid.min.js"></script>
<script src="js/fontsawesome/brands.min.js"></script>
<script src="js/mcaptcha/index.js"></script>
<script src="js/scroll-to-top.js"></script>
